body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(59, 57, 57);
    color: rgb(221, 221, 221);
}
footer{
    text-align: center;
}
img{
    max-width: 250px;
    max-height: 250px;
}
h1{
    background-color: #9c0505;
    text-align: start;
}